.holder-wrapper {
    margin:15px 0;
	}
	.holder-wrapper a {
		font-size:15px;
		font-family: Helvetica;
		-webkit-font-smoothing: antialiased;
		cursor:pointer;
		margin:0 5px;
		color:#59574B;
		text-decoration:none !important;
	}
	.holder-wrapper a:hover 
	{
		//background-color:#222;
		color:#ed258f;
	}
	.holder-wrapper a.jp-previous {
		margin-right:15px;
		font-size:15px;
		font-weight:bold;
	}
	.holder-wrapper a.jp-next {
		margin-left:15px;
		font-size:15px;
		font-weight:bold; 
	}
	.holder-wrapper a.jp-current,a.jp-current:hover {
		color:#ed258f;
		font-weight:bold;
	}
	.holder-wrapper a.jp-disabled,a.jp-disabled:hover {
		color:#59574B;
	}
	.holder-wrapper a.jp-current,a.jp-current:hover,.holder-wrapper a.jp-disabled,a.jp-disabled:hover {
		cursor:default;
		background:none;
	}
	.holder-wrapper span {
		margin: 0 5px;
	}