@charset "utf-8";
/* CSS Document */

/* fonts */
@font-face {
 font-family: lator;
 src: url('../font/Lato-Regular.ttf');
}
@font-face {
 font-family: Oswald;
 src: url('../font/Oswald-Bold.ttf');
}
@font-face {
 font-family: leagueSpartan;
 src: url('../font/LeagueSpartan-Bold.otf');
}
/* end here */

html, body
{
	margin:0;
	padding:0; 
	font-family: lator;
}
input[type=button], select
{
	outline:none;
	-webkit-appearance: none; /*Safari/Chrome*/
    -moz-appearance: none; /*Firefox*/
    -ms-appearance: none; /*IE*/
    -o-appearance: none; /*Opera*/
    appearance: none;
}

/*loading*/
.loading {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: transparent;
	display: none;
	z-index: 999999;
	top: 0px;
}
.loading img {
	z-index: 9999;
	margin-left: auto;
	position: fixed;
	left: 50%;
	top: 50%;
	width: 100px;
	height: 100px;
}
/* end */

/* loader */
.popup-loader
{
	width:100%;
	height:100%;
	position:fixed;
	background-color:transparent;
	display:none;
	z-index:5000000;
}
.popup-loader img
{
	z-index:5000001;
	margin-left:auto;
	position:fixed;
	left:50%;
	top:50%;
	margin-left:-32px;
	margin-top:-16px;
}
/* end here */

/* index page */
.overlaySlider
{
	position: absolute;
    background: rgba(0,0,0,0.3);
    z-index: 98;
    width: 100%;
    top: 0px;
}
.sliderContainer
{
	background:#ccc;
}
.searchBar
{
	height:130px;
	background:#fff;
}
.popularEvents
{
	height:670px;
	background:url(../img/mostp_bk.png) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.browseEvents
{
	height:570px;
	background:#fff;
}
.sharePage
{
	//background:#186383;
	background:url(../img/share_bk.png);
	height:163px;
}
.testimonials
{
	min-height:10px;
	height:auto;
	background:#665e51;
}
.footer
{
	height:275px;
	background:#313e44;
}
.searchBarContainer
{
	background:#f4f4f4;
	height:100px;
	margin-top:25px;
	border:1px solid #ed258f;
	border-radius:100px;
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.searchBarWrapper
{
	height:70px;
	margin-top:13px;
}
.searchLocation
{
	padding-left:0px; padding-right:0px; width:45%; display:inline-block; padding-left:1.2%;
}
.searchBtnWrapper
{
	padding-right:0px; width:18.5%; padding-left:1%; display:inline-block;
}
.inheritHeight
{
	height:inherit;
}
.searchBox
{
	border:1px solid #9a9a9a; border-radius:70px; width:100%; outline:none; padding-left:30px; padding-right:30px;font-size:23px;
}
.searchBtn
{
	background:#ed258f;border-radius:70px; width:100%; text-align:center; color:#fff; font-size:25px;font-family: lator; padding-top:15px; cursor:pointer;
}
.mostPopEvents
{
	color:#2e302d; font-size:20px;font-family: leagueSpartan; height:60px; padding-top:25px;
}
.mostPopEventsLine
{
	height:4px; width:55px; background:#2e302d; margin-left:auto; margin-right:auto;
}
.eachBlockWrapper
{
	margin-top:25px;height:450px; padding-left:0px; padding-right:0px; width:90%;margin-left: auto; margin-right: auto;
}
.eachBlock
{
	padding:5px; background:#fff; width:100%;box-shadow: 0px 0px 5px 0px #464646;-webkit-box-shadow: 0px 0px 5px 0px #464646;-moz-box-shadow: 0px 0px 5px 0px #464646;
}
.seeMoreBtnWrapper
{
	margin-left:auto; margin-right:auto; margin-top:40px; height:65px; width:100%;
}
.seeMoreBtn
{
	border:2px solid #2f2d2e; border-radius:65px; height:65px; width:210px; color:#2f2d2e; cursor:pointer; font-size:26px; padding-top:10px;
}
.eachBlockBrowseWrapper
{
	margin-top:25px;height:190px; padding-left:0px; padding-right:0px;width:90%;margin-left: auto; margin-right: auto;
}
.eachBlockBrowse
{
	padding:5px; width:100%; border-radius:10px; padding-left:0px; padding-right:0px;background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .5s ease;
	position:absolute;
}
.eachBlockBrowse:hover
{
	cursor:pointer;
    background-size: 130% 130%;
}
.eachBlockBrowseText
{
	z-index: 100000; color: #fff; opacity: 1; position: absolute; font-size: 22px; margin-left: auto; margin-right: auto; width: 100%; text-align: center;margin-top: 80px;
}
.buyNow
{
	border:2px solid #ed258f; border-radius:40px; height:40px; width:100%; color:#ed258f; cursor:pointer; font-size:14px; padding-top:8px; font-weight:600;
}
.testimonialTitle
{
	color:#fff; font-size:20px;font-family: leagueSpartan; height:60px; padding-top:25px;
}
.testimonialLine
{
	height:4px; width:55px; background:#fff; margin-left:auto; margin-right:auto;
}
.testimonialOptCont
{
	background:none;
	height:75px;
	margin-top:25px;
	border:1px solid #fff;
	border-radius:75px;
	width:400px;
	margin-left:auto;
	margin-right:auto;
	display:table;
}
.testimonialOptActive
{
	background: rgba(255,255,255,0.2);
    height: 55px;
    border-radius: 55px;
    width: 188px;
    margin-top: 9px;
    display: inline-block;
    padding-top: 14px;
    font-size: 17px;
	color:#fff;
	font-weight:600;
	cursor:pointer;
}
.testimonialOpt
{
	background:none;
    height: 55px;
    border-radius: 55px;
    width: 188px;
    margin-top: 9px;
    display: inline-block;
    padding-top: 14px;
    font-size: 17px;
	color:#fff;
	font-weight:600;
	cursor:pointer;
}
.footerCont
{
	width:88%;
	margin-left:auto;
	margin-right:auto;
}
.footerTitle
{
	color:#fff;
	font-size:16px;
	font-family: Oswald;
	text-align:left;
}
.footerLine
{
	height:3px; width:40px; background:#fff; margin-top:4px;margin-left:15px;
}
.subscribeCont
{
	background:#293438;
	height:75px;
	margin-top:25px;
	border:1px solid #fff;
	border-radius:75px;
	width:100%;
	display:table;
}
.subscribeBtn
{
	background: #fff;
    height: 55px;
    border-radius: 55px;
    padding-top: 15px;
    font-size: 17px;
    color: #293438;
    font-weight: 600;
    width: 38%;
    margin-top: 10px;
    margin-right: 5px;
    text-align: center;
	float:left;
	cursor:pointer;
}
.subscribeInput
{
	width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background: none;
    border: none;
    font-size: 20px;
    padding-top: 20px;
    color: #fff;
    outline: none;
}
.eachBlockWrapperCont
{
	width:23.4%; margin-left:0.5%; margin-right:0.5%; display:inline-block;
}
.eventDataWrapper
{
	display:table; margin-top:10px; width:100%; height:123px;
}
.eventData
{
	display:table; height:83px; width:100%; border-bottom:1px solid #dedede;
}
.iconsWrapper
{
	display:table; height:40px; width:135px; float:right; margin-right:10px;
}
.eachIcon
{
	display:table-cell; width:45px; padding-top:5px;
}
.eachIcon img
{
	cursor:pointer;
}
.bookNowWrapper
{
	display:table-cell; height:83px; width:40%;
}
.eventDataWrapperContent
{
	display:table-cell; height:83px; width:60%; vertical-align:top;
}
.eventDataEach
{
	width:100%; color:#000; font-size:15px; padding-left: 5px;
}
.sharePageTitle
{
	margin-left:180px; float:left; width:45%;padding-top:57px;font-size:33px; color:#fff;font-family: Oswald;
}
.shareIconWrapper
{
	height:109px; margin-left:50px;float:left;width:35%;padding-top:25px;
}
.shareIconWrapper img
{
	cursor:pointer; margin-right:20px;
}
.testimonialBlock
{
	width:90%; margin-left:auto; margin-right:auto; height:auto; min-height:10px; margin-top:45px; display:table;padding-bottom: 35px;
}
.testimonialBlockEach
{
	display:inline-block; width:48%; height:100%; border-radius:5px; vertical-align:top;
}
.footerEach
{
	float:left; width:15%; height:200px;padding-top:40px;
}
.footerEachData
{
	display:table; width:100%; height:40px; margin-top:15px;
}
.footerEachData img
{
	cursor:pointer;margin-right:10px; display:inline-block;
}
.footerEachData div
{
	width:100%; color:#fff; cursor:pointer;
}
.inputSubscribeWrapper
{
	height:75px; width:60%;float:left;
}
.eventTypes
{
	padding-right:10px; padding-left:0px; margin-bottom:10px; width:15%; display: inline-block;overflow: hidden; position: relative;
}
.customBtn
{
	border: 1px solid #9a9a9a;
    border-radius: 70px;
    width: 100%;
    outline: none;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 23px;
    text-align: left;
    padding: 17px 25px;
    background-color: #fff;
	color:#9a9a9a;
	margin-bottom:10px;
	outline:none;
}
.dropdown-menu
{
	background-color: #fff;
    padding: 0px;
    width: 26%;
    margin-left:2.5%;
    margin-top: 0px;
    border-left: 1px solid #9a9a9a;
    border-right: 1px solid #9a9a9a;
    border-bottom: 1px solid #9a9a9a;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	z-index:100 !important;
}
button
{
	outline:none;
}
.table-condensed
{
	width:100%;
}
.headerBtn
{
	display: inline-block; padding: 5px;color: #fff;font-size: 13px; border-radius: 15px;width: auto; margin-left:10px; margin-right:20px;text-align: center; cursor:pointer
}
.headerBtnActive
{
	display: inline-block; padding: 5px;color: #fff;font-size: 13px; border-radius: 15px;width: 110px; margin-left:10px; margin-right:10px;text-align: center;border: 1px solid #fff;cursor:pointer
}
#event_detail_left
{
	width:65%;display:table-cell; vertical-align:top;
}
#map-canvas
{
	width:35%;display:table-cell; vertical-align:top;
}
@media screen and (max-width: 1300px) {
	.sharePageTitle
	{
		margin-left:180px; float:left; width:45%;padding-top:60px;font-size:28px; color:#fff;font-family: Oswald;
	}
	.shareIconWrapper
	{
		height:80px; margin-left:0px;float:left;width:35%;padding-top:45px; text-align:right;
	}
	.shareIconWrapper img
	{
		height:80px;
	}
	.eachBlockWrapper div:nth-child(4)
	{
		display:none;
	}
	.eachBlockWrapperCont
	{
		width:31.4%;
	}
	.eventDataEach
	{
		font-size:14px;
	}
}
@media screen and (max-width: 1100px) {
	.searchLocation
	{
		padding-left:1.5%;
	}
	.searchBtnWrapper
	{
		width:18%;
	}
	.eachBlockBrowseWrapper
	{
		height:140px;
	}
	.eventTypes
	{
		padding-right:5px;
	}
	.browseEvents
	{
		height:470px;
	}
	#event_detail_left
	{
		width:100%; display:block;
	}
	#map-canvas
	{
		width:100%; display:block;
	}
	.eachBlockBrowseText
	{
		font-size:16px;
		margin-top:60px;
	}
}

/* prompt login - signup */
#signup-container,#login-container,#promoter-container,#subscribe_already,#subscribe_new,#forgot_password,#video_container
{
	position:fixed;
	height:100%;
	width:100%;
	z-index:99999;
	display:none;
	background:rgba(0,0,0,0.7);
}
#video_wrapper
{
	position:fixed;
	width:600px;
	height:400px;
	left:50%;
	top:50%;
	margin-left:-300px;
	margin-top:-200px;
	z-index:100000;
}
#subscribe_already img,#subscribe_new img
{
	position:fixed;
	width:408px;
	height:152px;
	left:50%;
	top:50%;
	margin-left:-204px;
	margin-top:-76px;
	z-index:100000;
}
.signup-container-wrapper, .login-container-wrapper
{
	position:fixed;
	width:520px;
	height:580px;
	left:50%;
	top:50%;
	margin-left:-260px;
	margin-top:-290px;
	z-index:100000;
	background:#fff;
	border-radius:60px;
}
.promoter-container-wrapper
{
	position:fixed;
	width:1024px;
	height:570px;
	left:50%;
	top:50%;
	margin-left:-512px;
	margin-top:-285px;
	z-index:100000;
	background:#fff;
	border-radius:60px;
}
.admin-delete-class
{
	width:520px;
}
.admin-delete-class-promoter
{
	width:1024px;
}
#logo-close
{
	position:absolute;
	right:25px;
	top:25px;
	cursor:pointer;
}
.admin-popup-delete-container
{
	position:fixed;
	width:400px;
	height:250px;
	left:50%;
	top:50%;
	margin-left:-200px;
	margin-top:-125px;
	z-index:100000;
	background:#fff;
}
.admin-delete-class
{
	//width:400px;
	height:210px;
	margin-right:10px;
}
.fp_text
{
	width:90%; height:55px; font-size:20px; border:1px solid #bebebe; padding:10px; border-radius:35px; padding-left:20px; padding-right:20px; margin-bottom:20px; outline:none
}
/* admin */
.landing-box-admin
{
	position:fixed;
	width:500px;
	height:290px;
	left:50%;
	top:50%;
	margin-left:-250px;
	margin-top:-145px;
	z-index:100000;
	background-color:rgba(255,255,255,0.4);
	border-radius:25px;
	-webkit-background-clip: padding-box;
    background-clip: padding-box; 
}
.btn-admin
{
	padding:9px 40px;
	border-radius:0px;
	color:#FFF;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #727272;
	width:126px;
	text-align:center;
	background:#727272;
	cursor:pointer;
}
.activeEvent
{
	background:#ed258f;
	border:1px solid #ed258f;
	cursor:pointer;
}
.login_name{height:20px;width:63px;float:right;margin-top:0%;color:#ed258f;padding-right:0px;cursor:pointer; margin-right:40px;background-image:url(images/profile_arrow.jpg);background-repeat:no-repeat;background-position:right; font-size:17px;}
.logout{background-image:url(images/profile_drop.png);background-repeat:no-repeat;width:187px; height:92px;color:#04af8d;text-align:center;text-transform:none;font-size:18px;cursor:pointer;display:none; position:fixed; margin-top:20px;}

/* setting */
.input_setting{border-radius:3px; border:1px solid #a9a9a9; font-family:lator; padding:10px;font-size:16px; outline:none; width:300px}
/*end here */

/* promoter */
.post_new_event
{
	width:1200px; border-bottom:1px solid #727272;
}
.post_new_event div
{
	width:730px; height:40px; border-radius:5px; color:#fff; font-size:24px; background-color:#ed258f; font-weight:bold; margin-top:15px; margin-bottom:15px; padding-top:10px; cursor:pointer;
}
#triangle-topleft {
	width: 0;
	height: 0;
	border-top: 45px solid rgb(237,37,143);
	border-right: 45px solid transparent;
	position:absolute;
	cursor:pointer;
	z-index:100;
}
.date_banner{background:url(../img/date_banner_pink.png);background-repeat:no-repeat;width:89px;height:57px;position:absolute;color:#fff;top:46%;right:47%;font-size:13px;padding-top:11px;}
					#datepicker{display:block !important;margin-right:8px;}
					#slide-board{margin-top:1% !important;}
					
.event-title
{
	//height:26px;
	//width:300px;
	//background:#CCC;
	//font-size:22px;
	//font-weight:bold;
	//padding-top:20px;
	//padding-left:3px;
	padding-top:10px;
	color:#c1c1c1;
	font-size:28px;
}
/* end here */

/* buy tickets popup */
#buy_ticket
{
	position:fixed;
	height:100%;
	width:100%;
	z-index:99999;
	display:none;
	background:rgba(0,0,0,0.7);
}
.buy_ticket_container
{
	position:fixed;
	width:1050px;
	height:600px;
	left:50%;
	top:50%;
	margin-left:-525px;
	margin-top:-300px;
	z-index:100000;
	background:#fff;
}

/* admin */
.landing-box-admin
{
	position:fixed;
	width:500px;
	height:290px;
	left:50%;
	top:50%;
	margin-left:-250px;
	margin-top:-145px;
	z-index:100000;
	background-color:rgba(255,255,255,0.4);
	border-radius:25px;
	-webkit-background-clip: padding-box;
    background-clip: padding-box; 
}
.btn-admin
{
	padding:9px 40px;
	border-radius:0px;
	color:#FFF;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #727272;
	width:126px;
	text-align:center;
	background:#727272;
	cursor:pointer;
}
.activeEvent
{
	background:#ed258f;
	border:1px solid #ed258f;
	cursor:pointer;
}
.menuDefault
{
	display:inline-block;
	height:25px; 
	font-size:15px;
	padding-left:10px;
	width:193px;
	color:#727272; 
	padding-top:10px;
	font-family: lator; 
	cursor:pointer;
}
.menuActive
{
	display:inline-block;
	height:25px; 
	font-size:15px;
	padding-left:10px;
	width:193px;
	padding-top:10px;
	font-family: lator; 
	cursor:pointer;
	color:#fff;
	background:#ed258f;
}
.login_name{height:20px;width:63px;float:right;margin-top:0%;color:#ed258f;padding-right:0px;cursor:pointer; margin-right:40px;background-image:url(images/profile_arrow.jpg);background-repeat:no-repeat;background-position:right; font-size:17px;}
.logout{background-image:url(images/profile_drop.png);background-repeat:no-repeat;width:187px; height:92px;color:#04af8d;text-align:center;text-transform:none;font-size:18px;cursor:pointer;display:none; position:fixed; margin-top:20px;}

.resetbBtn
{
	width:400px; height:30px; font-size:20px;background:#ed2590; color:#fff; padding:10px; border-radius:35px; padding-left:20px; padding-right:20px; margin-bottom:8px; border:1px solid #ed2590; outline:none; cursor:pointer
}