/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
}

/*form styles*/
#msform {
	width: 940px;
	text-align: center;
	position: relative;
}
#msform fieldset {
	border: 0 none;
	width: 100%;
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 20px;
	margin-bottom: 10px;
	font-family: lator;
	color: #2C3E50;
	font-size: 13px;
	line-height:19px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #ed258f;
	font-weight: bold;
	color: #c3c3c3;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px #c3c3c3, 0 0 0 3px #ed258f;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 25px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
	width:940px;
}
#progressbar li {
	list-style-type: none;
	color: #c3c3c3;
	font-size:14px;
	width: 25%;
	float: left;
	position: relative;
	font-family: lator;
	
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 25px;
	height:22px;
	padding-top:2px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: #c3c3c3;
	border-radius:50%;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #c3c3c3;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #ed258f;
	border-radius:50%;
	color: #fff;
}
/* button */
.btn{margin-top:0px; margin-left:40px;}
.next{width:200px; padding:7px!important; height:40px; color:#fff!important; font-size:16px!important; background-color:#ed258f; border:1px solid #ed258f!important;font-family: lator; margin-top:40px; cursor:pointer;float:left; margin-left:10px;}
.NewNext{width:200px; padding:7px!important; height:40px; color:#fff!important; font-size:16px!important; background-color:#ed258f; border:1px solid #ed258f!important;font-family: lator; margin-top:40px; cursor:pointer;float:left; margin-left:10px;}
.previous{width:200px; padding:7px!important; height:40px; color:#fff!important; font-size:16px!important; background-color:#ed258f; border:1px solid #ed258f!important;font-family: lator; margin-top:40px; cursor:pointer;float:left; margin-left:200px;}
.submit{width:200px; padding:7px!important; height:40px; color:#fff!important; font-size:16px!important; background-color:#ed258f; border:1px solid #ed258f;font-family: lator; margin-top:40px; cursor:pointer;float:left; margin-left:10px;}
.draft, .cancel{width:150px; padding:7px!important; height:40px; color:#fff !important; font-size:16px!important; background-color:#aaa; border:1px solid #aaa;font-family: lator; margin-top:40px;float:left; margin-left:10px;outline:none;}

/* timepicker */
.ui_tpicker_time_label{
	display:inline-block;
	color:#727272;
	font-size:16px;
}
.ui_tpicker_time{
	display:inline-block;
	margin-left:10px;
}
.ui_tpicker_hour{
	margin-top:10px;
}
.ui_tpicker_hour_slider,.ui_tpicker_minute_slider{
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
	border-top-right-radius:0px;
	border-top-left-radius:0px;
}
.ui_tpicker_minute_label{
	margin-top:10px;
	color:#727272;
	font-size:16px;
}
.ui_tpicker_minute{
	margin-top:10px;
}
.ui-slider-horizontal{
	height:0.3px;
	border: none;
    border-bottom: 1px solid #aaa;
}
.ui_tpicker_hour_label{
	margin-top:5px;
	color:#727272;
	font-size:16px;
}
.ui-datepicker{
	margin:0px !important;
}
.ui-datepicker .ui-datepicker-title{
	margin:0px  !important;
	background:#fff;
	font-family: lator;
	color:#464646;
	font-size:15px;
	font-weight:normal;
	line-height:1.6em;
}
.ui-widget-header{
	border:none;
}
.ui-datepicker{
	width:17.5em;
}
#ui-datepicker-div{
	margin-top:5px !important;
}
.ui-datepicker-header{
	background:none;
}
.ui-widget-content .ui-state-default{
	background: #fff url("assets/img/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
}
.ui-slider-horizontal .ui-slider-handle{
	top:-.6em;
	outline:none;
	cursor:pointer;
	border-radius:18px;
	border: none;
    border-bottom: 1px solid #aaaaaa;
	border: 1px solid #ed258f;
    background: #ed258f url("assets/img/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
	margin-left: -.4em;
}
.ui-widget-content{
	font-weight:normal;
	font-family: lator;
	color:#464646;
}